apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-unbxfeaw
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-unbxfeaw:f4884a6bb3e04102a0d5b404787000eebd40c281@sha256:f1d89698e52a9a5748bf57e6dbcd952b2a0b8dbee8554557cba105594bcaca00
          name: container-image
